<div class="last-assignment-plan">
  <ul class="last-assignment-daytime-plan">
    <li>デイタイムプラン</li>
    <li>
      <div class="¥5000">¥5,000</div>
      <div class="monthly-rate">月額</div>
    </li>
    <li>入会金0円</li>
    <li>平日：9時～17時</li>
    <li>土日祝：利用ナシ</li>
    <li>コアタイムでの利用に最適なプラン</li>
  </ul>

  <ul class="last-assignment-standard-plan">
    <li>スタンダードプラン</li>
    <li>
      <div class="¥15000">¥15,000</div>
      <div class="monthly-rate">月額</div>
    </li>
    <li>入会金0円</li>
    <li>平日：17時～23時</li>
    <li>土日祝：営業時間全て</li>
    <li>営業時間内で終日ご利用可能なプラン</li>
  </ul>
</div>
