<div class="events">
  <div class="news-and-events-title">
    <h2>Events<span class="caption">イベント</span></h2>
  </div>
  <div class="event-list">
    <article class="event-card">
      <a href="#">
        <div class="event-thumbnail">
          <img src="../../../img/events-1.jpg" />
        </div>
        <div class="event-caption">
          <h3>全ての業種に対応した起業応援セミナーを開催します。</h3>
          <div class="posted-at">
            <time datetime="2018-8-23">2018.08.23</time>
          </div>
        </div>
      </a>
    </article>
    <article class="event-card">
      <a href="#">
        <div class="event-thumbnail">
          <img src="../../../img/events-2.jpg" />
        </div>
        <div class="event-caption">
          <h3>第3回　Switchクリエイター交流会開催いたします！</h3>
          <div class="posted-at">
            <time datetime="2018-8-23">2018.08.23</time>
          </div>
        </div>
      </a>
    </article>
    <article class="event-card">
      <a href="#">
        <div class="event-thumbnail">
          <img src="../../../img/events-3.jpg" />
        </div>
        <div class="event-caption">
          <h3>
            Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
          </h3>
          <div class="posted-at">
            <time datetime="2018-8-23">2018.08.23</time>
          </div>
        </div>
      </a>
    </article>
  </div>
  <a href="#" class="news-and-events-more"
    >イベント一覧<i class="fas fa-chevron-right"></i
  ></a>
</div>
