@use "../../variables" as *;

.last-assignment-top {
  .top-img-and-catchcopy {
    position: relative;
    .top-img {
      width: 100%;
      object-fit: cover;
    }
    .top-catchcopy {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
      color: $white;
      writing-mode: vertical-rl;
      font-family: $fontfamily-mincho;
      font-size: $fontsize-xl;
      overflow-wrap: normal;
    }
  }
  .last-assignment-message {
    color: $white;
    background-color: $black;
  }

  @media screen and (max-width: $breakpoint-lg) {
    .top-img-and-catchcopy {
      .top-img {
      }
      .top-catchcopy {
        font-size: $fontsize-l;
      }
    }
  }
}
