@use "../../variables" as *;

.last-assignment-header {
  background-color: $black;
  font-size: $fontsize-s;
  .navbar {
    padding: 0px;
    .navbar-brand {
      margin: 16px;
      img {
        width: 120px;
        height: 20px;
      }
    }
    .navbar-toggler {
      outline: none;
    }
    .collapsing {
      display: block;
    }
    .navbar-collapse .navbar-nav .nav-item {
      .nav-link {
        color: $white;
        padding: 16px;
      }
      .concept-button {
        display: flex;
        justify-content: space-between;
        .navbar-toggler {
          outline: none;
        }
        .navbar-toggler[aria-expanded="false"] {
          .minus-button {
            display: none;
          }
        }
        .navbar-toggler[aria-expanded="true"] {
          .plus-button {
            display: none;
          }
        }
      }
    }
    .dropdown-menu {
      background-color: $black;
      padding: 0px;
      margin: 0px;
      .dropdown-item {
        width: 220px;
        background-color: $black;
        color: $white;
        font-size: $fontsize-s;
        padding: 18px 0px 18px 28px;
      }
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    position: relative;
    height: 90px;
    background-color: $black_50;
    .navbar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto 16px;
      .navbar-brand {
        img {
          width: 140px;
          height: 24px;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              margin: 0px;
              padding: 20px;
            }
            .dropdown-menu {
              border-radius: 0;
            }
            &:hover {
              .nav-link {
                color: $gray-nobel;
              }
              .dropdown-menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
