<header class="last-assignment-header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="../../../img/logo-xl.png" class="xl" />
      <img src="../../../img/logo-lg.png" class="lg" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="../../../img/humberger-bar.svg" />
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONCEPT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
