<header class="last-assignment-header">
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#">
      <img src="../../../img/logo-xl.png" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="../../../img/humberger-bar.svg" />
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <div class="concept-button">
            <a class="nav-link" href="#">CONCEPT</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#header-menu-id-dropdown"
              aria-controls="header-menu-id-dropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img class="plus-button" src="../../../img/icon.svg" />
              <img class="minus-button" src="../../../img/minus-icon.svg" />
            </button>
          </div>
          <div class="dropdown-menu" id="header-menu-id-dropdown">
            <a class="dropdown-item" href="#">ブログアーカイブ</a>
            <a class="dropdown-item" href="#">お知らせアーカイブ</a>
            <a class="dropdown-item" href="#">イベントアーカイブ</a>
            <a class="dropdown-item" href="#">インタビューアーカイブ</a>
            <a class="dropdown-item" href="#">FAQページ</a>
            <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
            <a class="dropdown-item" href="#">CONCEPT</a>
            <a class="dropdown-item" href="#">SERVICE</a>
            <a class="dropdown-item" href="#">FLOOR</a>
            <a class="dropdown-item" href="#">ACCESS</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
