<div class="last-assignment-news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <article class="new-website-was-released">
    <div class="date">2018.06.20</div>
    <div class="article-title">
      ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
    </div>
  </article>
  <article class="implement-templates">
    <div class="date">2018.06.18</div>
    <div class="article-title">
      3種のレイアウトから選択できるテンプレートを固定ページに実装
    </div>
  </article>
  <article class="make-Q&A-page">
    <div class="date">2018.06.12</div>
    <div class="article-title">
      利用者からのご質問をまとめた「FAQ」ページをアップしました。
    </div>
  </article>
  <article class="useful-import-function">
    <div class="date">2018.06.08</div>
    <div class="article-title">
      デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
    </div>
  </article>
  <article class="updating-theme">
    <div class="date">2018.06.02</div>
    <div class="article-title">テーマのアップデート情報について</div>
  </article>
  <a href="#" class="news-and-events-more"
    >お知らせ一覧<i class="fas fa-chevron-right"></i
  ></a>
</div>
