<footer class="last-assignment-footer">
  <div class="company-information">
    <a class="title-switch" href="#">
      <img src="../../../img/footer.png" />
    </a>
    <address class="address-and-phone-number-and-open-hours">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678　FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </address>
    <div class="sns-and-rss-icons">
      <a class="icon" href="#">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="icon" href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a class="icon" href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="icon" href="#">
        <i class="fa-sharp fa-solid fa-rss"></i>
      </a>
    </div>
  </div>

  <ul class="links" href="#">
    <li class="HOME">
      <a href="#">HOME</a>
    </li>
    <li class="CONCEPT">
      <a href="#">CONCEPT</a>
    </li>
    <li class="SERVICE">
      <a href="#">SERVICE</a>
    </li>
    <li class="FLOOR">
      <a href="#">FLOOR</a>
    </li>
    <li class="INTERVIEW">
      <a href="#">INTERVIEW</a>
    </li>
    <li class="BLOG">
      <a href="#">BLOG</a>
    </li>
    <li class="ACCESS">
      <a href="#">ACCESS</a>
    </li>
    <li class="DOWNLOAD">
      <a href="#">DOWNLOAD</a>
    </li>
  </ul>

  <div class="copyright-container">
    <small class="copyright">
      Copyright (c) WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </small>
  </div>
</footer>
