<div class="last-assignment-footer">
  <div class="company-information">
    <div class="title-switch">
      <img src="../../../img/footer.png" />
    </div>
    <p class="address-and-phone-number-and-open-hours">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678　FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </p>
    <div class="sns-and-rss-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-sharp fa-solid fa-rss"></i>
    </div>
  </div>

  <div class="links" href="#">
    <a class="HOME" href="#">HOME</a>
    <a class="CONCEPT" href="#">CONCEPT</a>
    <a class="SERVICE" href="#">SERVICE</a>
    <a class="FLOOR" href="#">FLOOR</a>
    <a class="INTERVIEW" href="#">INTERVIEW</a>
    <a class="BLOG" href="#">BLOG</a>
    <a class="ACCESS" href="#">ACCESS</a>
    <a class="DOWNLOAD" href="#">DOWNLOAD</a>
  </div>

  <div class="copyright-container">
    <p class="copyright">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </p>
  </div>
</div>
