@use "../../variables" as *;

.last-assignment-button {
  display: block;
  background-color: $black;
  transition: background-color 0.2s;
  color: $white;
  text-align: center;
  font-size: $fontsize-s;
  width: 200px;
  height: 55px;
  padding: 17.5px;

  @media screen and (max-width: $breakpoint-lg) {
    width: 150px;
    height: 55px;
    padding: 17.5px;
  }

  @media screen and (max-width: $breakpoint-md) {
    width: 180px;
    height: 45px;
    padding: 12.5px;
  }

  &:hover {
    background-color: $orange_bistre;
    color: $white;
    text-decoration: none;
  }
}
