<div class="last-assignment-cards">
  <div class="last-assignment-card">
    <div class="card-img">
      <img src="../../../img/card/card-1.jpg" />
      <div class="white-triangle">CONCEPT</div>
    </div>
    <p class="card-text">
      「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
    </p>
    <a href="#" class="last-assignment-button">コンセプト</a>
  </div>

  <div class="last-assignment-card">
    <div class="card-img">
      <img src="../../../img/card/card-2.jpg" />
      <div class="white-triangle">SERVICE</div>
    </div>
    <p class="card-text">
      喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
    </p>
    <a href="#" class="last-assignment-button">サービス</a>
  </div>

  <div class="last-assignment-card">
    <div class="card-img">
      <img src="../../../img/card/card-3.jpg" />
      <div class="white-triangle">FLOOR</div>
    </div>
    <p class="card-text">
      カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では、目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
    </p>
    <a href="#" class="last-assignment-button">フロアー</a>
  </div>
</div>
